
.trangchuls{
    padding: 10px 15px;
    border: none;
    background-color:  #007bff ;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.trangchuls:hover {
    background-color: #0e2ee5fc ;
}
.quanlils {
    padding: 10px 15px;
    border: none;
    background-color:  #007bff;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.quanlils:hover {
    background-color: #0e2ee5fc; 
}

.dieuchinhls {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.dieuchinhls:hover {
    background-color: #0e2ee5fc; 
}
.xemls {
    padding: 10px 15px;
    border: none;
    background-color: #0026fffc ;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.history-content {
    padding: 20px;
}
.option{
    display: flex;
    flex-direction: column;
}  
.printer-selection select {
    width: 100%; 
    height: 40px; 
    padding: 0 10px; 
    font-size: 16px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    box-sizing: border-box; 
    text-align: center; 
    line-height: 40px;
  }
  
.student-search {
    margin-top: 30px;
    display: flex;
    align-items: center; 
    gap: 10px; 
  }
  
.student-search input {
    flex: 1; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 200px; 
  }
  
.student-search button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.student-search button:hover {
    background-color: #45a049; 
  }
  
  
.details-table {
    width: 100%;
    border-collapse: collapse;
}
  
  .details-table th, .details-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .details-table th {
    background-color: #f4f4f4;
  }
  
  button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .details-table th, .details-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .details-table th {
    background-color: #f4f4f4;
  }
  
  .details-table td {
    word-wrap: break-word;
  }
  
  button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }  