/* Đặt nền tổng thể */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
.app {
    text-align: center;
  }
  
  /* Header */
.header {
    background-color: #007bff; /* Màu xanh header */
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 15px;
  }
  
.logo {
    height: 50px;
    margin-right: 15px;
  }
  
.navbar {
    display: flex;
    gap: 10px;
  }
  
.trangchu-bot {
    padding: 10px 15px;
    border: none;
    background-color:  #007bff;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
.trangchu-bot:hover {
    background-color: #0e2ee5fc; /* Màu nền khi hover */
}
.in-bot.active {
    padding: 10px 15px;
    border: none;
    background-color:  #0026fffc;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }

.xem-bot {
    padding: 10px 15px;
    border: none;
    background-color:  #007bff;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
.xem-bot:hover {
    background-color: #0e2ee5fc; /* Màu nền khi hover */
  }
.Tbao {
    height: 20px;
    padding: 16px 15px;
    margin: 0px 15px;
    position: absolute;
    top: 10px; /* Khoảng cách từ lề trên */
    right: 120px;
    object-fit: contain;
    z-index: 10; /* Đảm bảo ảnh nổi lên trên các phần tử khác */
    cursor: pointer;
}
.tnhan {
    height: 21px;
    padding: 15px 15px;
    margin: 0px 15px;
    position: absolute;
    top: 10px; /* Khoảng cách từ lề trên */
    right: 85px;
    object-fit: contain;
    z-index: 10; /* Đảm bảo ảnh nổi lên trên các phần tử khác */
    cursor: pointer;
}
.hAnh {
  height: 40px;
  padding: 5px 0px;
  margin: 0px 15px;
  position: absolute;
  top: 10px;
  right: 40px;
  object-fit: contain;
  z-index: 10;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .menu-button {
    display: block; /* Hiển thị nút menu khi màn hình nhỏ */
  }
}
  /* Content */
  .contentlf {
    margin-top: 20px;
    flex-direction: column; /* Khi màn hình nhỏ hơn 768px, xếp theo cột */
    align-items: stretch;  /* Căn giữa các phần tử */
    gap: 40px;
  }
  @media (max-width: 768px) {
    .contentlf {
      flex-direction: column; /* Khi màn hình nhỏ hơn 768px, xếp theo cột */
      align-items: stretch;  /* Căn giữa các phần tử */
      gap: 40px;
    }
  
    .list-file{
      border-radius: 10px;
      padding: 0px;
      height: 500px;
      width: 90%;
      max-width: 90%;
      margin: 0 auto;
    }
    .file-upload {
      width: 100%; /* Đảm bảo các phần tử chiếm toàn bộ chiều rộng của container */
      height: auto; /* Chiều cao tự động điều chỉnh theo nội dung */
      flex: 1; /* Đảm bảo các phần tử đều giãn nở */
      max-width: 90%;
      padding: 0px;
    }
  }
  @media (max-width: 350px) {
    .contentlf {
      flex-direction: column; /* Khi màn hình nhỏ hơn 768px, xếp theo cột */
      gap: 150px;
      left: 0;
      font-size: 10px;
    }
  }
  
  .list-file {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #f5f5f5;
    height: 500px;
    width: 750px;
    margin: 0 auto;
  }
  .list-label{
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .selected-file-display {
    display: flex;
    margin-top: 250px;
    margin-left: 20px;
    width: 100%;
    gap: 20px;
  }
  .tieude{
    margin: 0;
  }
  .selected-file-label{
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  .corfirm-bot{
    margin-top: 20px;
    padding: 8px 15px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  .file-upload {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #f5f5f5;
    height: 500px;
    width: 450px;
    margin: 0 auto;
  }
  .file-table {
    padding: 20px 20px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
  }
  .file-label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  

  .file-name-input {
    border: 1px solid #ccc;
    padding: 8px;
    width: 60%;
    border-radius: 7px;
  }
  

  .btn.cancel {
    padding: 13px 20px;
    background-color: #c65c54;
    color: white;
    border: none;
    border-radius: 15px;
    margin: 30px 5px;
    cursor: pointer;
  }
  